<div class="rightMain">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">搜索</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-1"> 名称 </div>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入名称">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div>
  </div>
  <div class="panel panel-default">

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <td>编号</td>
          <td>名称</td>
          <td>图标</td>
          <td>价格</td>
          <td>邮费</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>iphone8</td>
          <td></td>
          <td>8000</td>
          <td>200</td>
          <td>
            <button class="btn btn-default" type="submit">修改</button>
            <button class="btn btn-default" type="submit">删除</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>