<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>home</title>
    <%- include('base/head'); %>
</head>

<body>
    <div class="main">
        <%- include('base/nav'); %>
        <div class="body">
            <%- include('base/leftNav'); %>
            <div class="rightMain addproduct">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">搜索</h3>
                    </div>
                    <div class="panel-body">
                        <form action="addproductAPI" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-2"><span class="title">商品名称：</span></div>
                                <div class="col-sm-10"><input type="text" class="form-control " placeholder="Text input" name="name"></div> 
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><span class="title">商品图片：</span></div>
                                <div class="col-sm-10"><input type="file" class="form-control " placeholder="Text input" name="img" ></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><span class="title">商品价格：</span></div>
                                <div class="col-sm-10"><input type="text" class="form-control " placeholder="Text input" name="price"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><span class="title">商品邮费：</span></div>
                                <div class="col-sm-10"><input type="text" class="form-control " placeholder="Text input" name="fee"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><span class="title">商品描述：</span></div>
                                <div class="col-sm-10"><textarea class="form-control col-sm-11" rows="3" name="description"></textarea></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                     <button class="btn btn-default" type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>